

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides1,.mySlides2 {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .container {
    position: relative;
    width: 100%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #988780;
    
  }
  
  .container:hover .overlay {
    opacity: 0.6;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-family: cutefontlight;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 30px;
    
    
  }
  .overlaytext{
    text-decoration: none;
  }
  .overlaytext:link {
    color: #fbf8f1;
  }

  /* visited link */
.overlaytext:visited {
  color: #fbf8f1;
}

/* mouse over link */
.overlaytext:hover {
  color:#423525;
}

/* selected link */
.overlaytext:active {
  color:#423525;
}

.fa {  
  padding: 20px; 

  text-align: center;  
  margin-left: 20px;  
  font-size: 100px;  
  width: 50px; 
  text-decoration: none; 
  border: 1px solid #fbf8f1;
  transition:.5s;
  
} 
.fa-facebook {  
  background: #988780;  
  color: white;  
} 
.fa-twitter {  
  background: #988780;  
  color: white;  
} 
.fa-pinterest {  
  background: #988780;  
  color: white;  
} 
.fa-instagram {  
  background: #988780;  
  color: white;  
} 

.fa:hover {  
  opacity: 0.9;
  color:#423525;  
}  